.frame-child1 {
  position: absolute;
  top: 121px;
  left: -20px;
  background: linear-gradient(
    180deg,
    #e79a06 11.98%,
    #fff 53.65%,
    #15b007 88.54%
  );
  width: 1466px;
  height: 904px;
}
.ellipse-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
}
.frame-child3,
.frame-child4 {
  position: absolute;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.frame-child3 {
  top: -2px;
  left: -20px;
  background: linear-gradient(180deg, #f39303 10.42%, #fff 50%, #15b007 93.23%);
  width: 1466px;
  height: 129px;
}
.frame-child4 {
  top: 291px;
  left: 502px;
  border-radius: var(--br-46xl);
  background-color: var(--color-gray-100);
  width: 475px;
  height: 579px;
}
.frame-child5,
.group-inner {
  position: absolute;
  top: 334px;
  left: 660px;
  width: 150px;
  height: 150px;
}
.group-inner {
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 164px;
  height: 54px;
}
.vector-icon2 {
  position: absolute;
  height: 42.87%;
  width: 35.87%;
  top: 32.56%;
  right: 13%;
  bottom: 35.5%;
  left: 60.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.next {
  position: absolute;
  top: 14px;
  left: 17px;
  display: inline-block;
  width: 89px;
  height: 22px;
}
.group-div {
  position: absolute;
  top: 768px;
  left: 653px;
  width: 164px;
  height: 54px;
  cursor: pointer;
  font-size: var(--font-size-4xl);
}
.group-child1 {
  position: absolute;
  top: 29px;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 318.94px;
  height: 67px;
}
.voter-id {
  position: absolute;
  top: 0;
  left: 3.94px;
  display: inline-block;
  width: 186.05px;
  height: 35px;
}
.rectangle-parent1 {
  position: absolute;
  top: 512px;
  left: 575.06px;
  width: 318.94px;
  height: 96px;
  font-size: var(--font-size-xl);
}
.safe-voting-ui1 {
  position: absolute;
  top: 26.5px;
  left: 138.29px;
  display: inline-block;
  background: linear-gradient(
    180deg,
    #d58206 26.04%,
    #fff 37.5%,
    #15b007 64.58%,
    #15b007
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 450.45px;
  height: 63px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.eci-logo-1-icon1 {
  position: absolute;
  top: 0;
  left: -1px;
  width: 134.29px;
  height: 116px;
  object-fit: cover;
}
.safe-voting-ui-group {
  position: absolute;
  top: 13px;
  left: 1px;
  width: 588.74px;
  height: 108px;
  font-size: var(--font-size-21xl);
}
.user-1-1 {
  position: absolute;
  top: 355px;
  left: 687.5px;
  width: 92px;
  height: 92px;
  object-fit: cover;
}
.authenticate {
  position: absolute;
  top: 653px;
  left: 579px;
  font-size: var(--font-size-4xl);
  display: inline-block;
  width: 237px;
  height: 47px;
}
.frame-child6 {
  position: absolute;
  top: 656px;
  left: 839px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 106px;
  height: 106px;
}
.vector-icon3 {
  position: absolute;
  height: 6.84%;
  width: 5.28%;
  top: 65.82%;
  right: 35.42%;
  bottom: 27.34%;
  left: 58.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child7 {
  position: absolute;
  top: 127px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1440px;
  height: 75px;
}
.po-id,
.state {
  position: absolute;
  height: 36px;
}
.state {
  top: 145px;
  left: 130px;
  display: inline-block;
  width: 203px;
}
.po-id {
  left: 11px;
  color: #f30303;
}
.centere-id,
.po-id,
.ward-no {
  top: 145px;
  display: inline-block;
  width: 203px;
}
.centere-id {
  position: absolute;
  left: 1032px;
  height: 36px;
}
.ward-no {
  left: 696px;
}
.constituency,
.frame-child9,
.ward-no {
  position: absolute;
  height: 36px;
}
.constituency {
  top: 145px;
  left: 320px;
  display: inline-block;
  width: 203px;
}
.frame-child9 {
  top: 144px;
  left: 1275px;
  border-radius: var(--br-26xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 143px;
  cursor: pointer;
}
.log-out {
  position: absolute;
  top: 151px;
  left: 1284px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 109px;
  height: 23px;
}
.vector-icon4 {
  position: absolute;
  height: 2.17%;
  width: 1.74%;
  top: 14.65%;
  right: 2.18%;
  bottom: 83.18%;
  left: 95.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child10 {
  position: absolute;
  top: 917px;
  left: 1138px;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 234px;
  height: 69px;
}
.evm-id {
  position: absolute;
  top: 937px;
  left: 1157px;
  font-size: 25px;
  display: inline-block;
  width: 152px;
  height: 29px;
}
.rectangle-root {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
